@import "../../style/global.scss";

.register {
  width: 100vw;
  height: 100vh;
  background-color: var(--Dark-Navy);
  color: var(--Pink--Text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    margin: 20px;
  }
  .registerInfo {
    background-color: var(--Light-Indigo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
  }

  label {
    width: 300px;
    text-align: left;
    margin: 10px;
  }

  form {
    width: 400px;
    height: 400px;
  }

  input {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  button {
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }

  .error-message {
    margin: 10px;
  }
}
